<div class="card col-md-6 mt-3 mx-auto">
  <div class="card-body">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  [placeholder]="'Username'"
                />

                <div *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" class="text-danger">

                  <div *ngIf="loginForm.controls.username.errors.required">
                    Username is required.
                  </div>

                </div>

                
              </label>
              <label class="d-block">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    [placeholder]="'Password'"
                  />
                  <small
                    [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                    class="text-danger"
                  >
                    Password is required
                  </small>
                </label>
          </div>
          <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">
            <span>Login</span>
          </button>
      </form>
  </div>
</div>