<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common-header">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" th:href="@{/styles/bootstrap-3.3.6.css}" href="../../styles/bootstrap-3.3.6.css" />
        <link rel="stylesheet" th:href="@{/styles/bootstrap-3.3.6-theme.css}" href="../../styles/bootstrap-3.3.6-theme.css" />
        <link rel="stylesheet" th:href="@{/styles/default.css}" href="../../styles/default.css" />
        
        <title>Albums Application</title>
    </head>
    <body>
        <div th:fragment="header">
            <div class="container">
                <div class="well well-lg">
                    <h1><a th:href="@{/}">Welcome to Album Store</a></h1>
                    <h4>Demonstrating Spring Boot, Thymeleaf, Bootstrap and Spring MVC Form Binding</h4>
                    <div class="alert-info" style="padding: 10px 6px; border-radius: 6px;">
                        <strong>Powered By: Spring Boot DevTools</strong>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>